*~
*.o
*.a
*.so
*.exe
*.[568vq]
[568vq].out

*.dat
*.tmp
_obj
_test
coverage.out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof

.DS_Store

vendor
backend
_errors/_errors
_runtime
_artifacts
